.report-curoster {
  list-style: none;
  margin-top: 20px;
}
#page-report-curoster-index h4 {
  font-size: 16px; 
}
.report-curoster li {
  display: inline-block;
  max-width: 125px;
  margin-bottom: 32px;
  vertical-align: top;
}
.report-curoster li span {
  display: block;
  text-align: center;
}
.report-curoster li>a>img.userpicture {
  height: 125px;
  width: 125px;
}
.report-curoster:after {
  content: '';
  display: inline-block;
  width: 100%;
}
